// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;

$accent-color-one: #e4757a;
$accent-color-two: #927bc1;
$accent-color-three: #63cc82;
$accent-color-four: #fd7856;

// Breakpoint
$break-m: 768px;