// ============================================= /
//              Grid System                      /
// ============================================= /

.container {
    padding: 0 10px;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
}

$grid-colors: (
    1: $accent-color-two,
    2: $accent-color-four,
    3: #deb2ee,
    4: #7ee6fd,
    5: #88d9a0,
    6: #4da2bb,
    7: #ec9fa3,
    8: #fd9f85,
    9: $accent-color-one,
    10: $accent-color-three,
    11: #51ddfc,
    12: #80e8d1,
);

@for $i from 1 through 12 {
    .theme.col-#{$i} {
        background-color: map-get($grid-colors, $i);
    }
}

.card {
    flex-basis: 100%;
}
