/* ============================================= */
/*              Grid system                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @include mq {
      max-width: 1400px;
      @include center;
    }
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include mq {
      flex-direction: row;
    }
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include mq {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
      + [class^=col] {
        margin-left: 10px;
      }
    }
}

@for $i from 1 through 12 {
    .theme.col-#{$i} {
        background-color: map-get($grid-colors, $i);
    }
}

.card {
    flex-basis: 100%;
}

@include mq {
  .centered {
    @include center;
  }  
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: calc(#{$i}*8.33%);
    }
  }
}